<template>
  <div>
    <div>{{ name }}----{{ age }}</div>
    <button @click="changeCount">改变</button>
  </div>
</template>

<script>
import { reactive, toRefs, toRef, isRef } from "vue";
export default {
  props: {
    msg: {
      type: String,
    },
  },
  setup(props, { attrs, emit, slots }) {
    let info = reactive({
      name: "小花",
      age: 18,
    });
    // let { name, age } = toRefs(info);

    let { name } = info;
    let age = toRef(info, "age");
    console.log(isRef(name));
    // let name = ref('x')
    const changeCount = () => {
      console.log("changeCount");
      age.value++;
    };
    return {
      name,
      age,
      changeCount,
    };
  },
};
</script>

<style>
</style>