<template>
  <div>
    <div>{{ msg }}</div>
    <h3>{{ title }}</h3>
    <h3>{{ count }}</h3>
    <button @click="changeCount">改变</button>
  </div>
</template>

<script>
import { ref } from "vue";
export default {
  props: {
    msg: {
      type: String,
    },
  },
  setup(props, { attrs, emit, slots }) {
    //没有this  undefined 在bereoreCreate 和 created之前
    console.log(props);
    console.log(attrs, emit, slots); // {attrs,emit,slots}

    let count = ref(1);
    console.log(count, "refcount");
    const changeCount = () => {
      count.value++;
      console.log(count, "count");
    };

    return {
      title: "1902A",
      count,
      changeCount,
    };
  },
};
</script>

<style>
</style>